<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thái Minh Huy</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="about-member">
        <h1 class="member">Thái Minh Huy</h1>
        <p class="mssv">23127379</p>
        <p class="hobby">Sở thích cá nhân: Đọc truyện, coi phim, ngủ</p>
        <img src="img/23127379.jpg" alt="Thái Minh Huy" class="image-member">
        <div class="go-back">
            <a href="./about-my-team.html" class="link-back">Quay lại trang chính</a>
        </div>
    </div>
</body>
</html>