<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giới thiệu nhóm</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="main-menu">
        <h1 class="introduction-team">Nhóm Phát Triển Ứng Dụng Web 05</h1>
        <p class="introduction-member">
            Chúng em là nhóm sinh viên học môn Phát Triển Ứng Dụng Web lớp 23KTPM03
        </p>
        <h2 class="introduction-members">Danh sách từng thành viên</h2>
        <ul>
            <li><a href="./about-member1.html">Lê Phú Cường.</a></li>
            <li><a href="./about-member2.html">Thái Minh Huy.</a></li>
        </ul>
    </div>


</body>
</html>