* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.begin{
    text-align: center;
}

.begin .menu{
    line-height: 1.6;
}

.begin .welcome:hover{
    color: coral;
}

.begin .welcome:active{
    background-color: black;
}
.main-menu{
    line-height: 1.6;
}

/* .main-menu .introduction-team, .main-menu .introduction-member{
    text-align: center;
} */

.main-menu .introduction-members {
    text-align: justify;
}

ul li{
    text-align: justify;
    list-style: none;
}

li:hover{
    color: coral;
}

li:active{
    background-color: black;
    display: inline-block;
}

.about-member{
    line-height: 1.6;
}

.about-member .image-member{
    width: 200px;
    height: 200px;
}

.about-member .link-back:active{
    background-color: black;
}

.about-member .link-back:hover{
    color: coral;
}